extends layout 
 
block content 
  h1= title 
  if(toShow == null)
    h2 No instances to detail 
  else 
  - let dogid = toShow._id 
  - let breed = toShow.Dog_breed 
  - let age = toShow.age 
  - let name = toShow.Dog_name 
  div(class = 'container')
    div.row 
      div(class='dogsAttr mr-3') dogs ID is: 
      div #{dogid} 
    div.row 
      div(class='dogsAttr mr-3') dogs breed is: 
      div(class='dogsDAttr') #{breed} 
    div.row 
      div(class='dogsAttr mr-3') dogs age is: 
      div(class='dogsDAttr') #{age} 
    div.row 
      div(class='dogsAttr mr-3') dogs name is: 
      div(class='dogsDAttr') #{name} 