extends layout

block content
    h1= title
    - let items = results;
    div(class="container-fluid") 
     div(class="row") 
      each item in items
       - let destination = `dispatch(\"/dogs/update?id=${item._id}\")`
       div(class="row-sm-2", class="m-1") Dogs #{item.Dog_breed}(#{item.age}) is #{item.Dog_name}
        button.btn( class="btn-primary ml-1", onclick= destination) Update
    script. 
     function dispatch(path)
     { 
      window.location.href=path 
     } 