extends layout 
 
block content 
  h1= title 
  - let dogid = toShow._id 
  - let breed = toShow.Dog_breed 
  - let age = toShow.age 
  - let name = toShow.Dog_name 
  - let actionid = "/resource/dogs/"+dogid
  script let actionid = "#{actionid}"
  div 
    div.row 
      div(class='dogsAttr mr-3') dogs ID is: 
      div #{dogid} 
    div.row 
      div(class='dogsAttr mr-3') dogs breed is: 
      div #{breed} 
    div.row 
      div(class='dogsAttr mr-3') dogs age is: 
      div #{age} 
    div.row 
      div(class='dogsAttr mr-3') dogs name is: 
      div #{name}
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
  script. 
        function cancel() { 
        // Go back to the home page for the costume collection 
        window.location.href='/resource/dogs/' 
        }
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/resource/dogs/' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    }